.todo-items {
	border-radius: 10px;
	background: #222;
	margin-top: 35px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.todo-items h3 {
	color: #fff;
	font-family: Inter;
	font-size: 19px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	padding-left: 20px;
}
.todo-items .delete-icon{
	width: 40px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #999999;
	border-radius: 10px;
	cursor: pointer;
}
.todo-items .delete-icon .icon{
	font-size: 24px;
	color: rgb(115, 44, 44);
}